<div class="landing-container">
    <div class="d-block d-sm-none">
      <img src="./assets/Aureal_full_light.png" style="width: 100%;
      padding: 0 100px;">
    </div>
    <div class="banner-container">
        <div class="image-section">
            <div id="container" #container (mousemove)="onMouseMoveHandler($event)" (mouseleave)="onMouseMoveHandler($event)" (mouseenter)="onMouseMoveHandler($event)">
                <div id="inner" #inner>
                    <div class="demo-img">
                        <img src="./assets/landingpageillustration.png">
                    </div>
                  </div>
            </div>
        </div>
        <div class="text-section">
          <div class="main-heading">
            Your Voice is Worth Something.
          </div>
          <div class="sub-text">
            Monetise your podcasts easily without ads or sponsorships on decentralised platform.
          </div>
          <div class="some-buttons">
            <button class="primary-but" (click)="getStarted()">Get Started for free</button>
          </div>
        </div>
    </div>
</div>