.discover-container {
    width: 100%;
    padding: 20px 40px;
}

.tabs{
    display: flex;
    align-items: center;
    justify-content: start;
    overflow-x: scroll;
    margin: 20px 0;
    .each-tab{
        margin-right: 30px;
        cursor: pointer;
        font-size: 18px;
        font-weight: 300;
        &.active{
            color: var(--primary);
            font-weight: 400;
        }
    }
}
.tab-content{
    .cards-list{
        display: flex;
        justify-content: start;
        overflow: scroll;
        margin-right: 0;
        /* this will hide the scrollbar in mozilla based browsers */
        overflow: -moz-scrollbars-none;
        /* this will hide the scrollbar in internet explorers */
        -ms-overflow-style: none;
        &::-webkit-scrollbar { 
          width: 0 !important;
          display: none; 
        }
    }
}
