<div class="discover-container">
	<div class="custom-card">
        <div class="d-flex align-items-center justify-content-between">
           <span class="accent f500 card-heading">
                Trending on Hive
           </span> 
           <span class="accenttwo card-side-heading pointer" (click)="getHiveEpisodes()">
               <span>See more</span>
           </span>
        </div>
        <div class="custom-row" *ngIf="tabsSection[2].isLoaded || tabsSection[2].data.length">
            <div *ngFor="let episode of tabsSection[2].data; let i = index" class="custom-col mt-3">
                <app-episode-card [episodeData]="episode"></app-episode-card>
            </div>
        </div>
        <div *ngIf="!tabsSection[2].isLoaded">
            <app-loader></app-loader>
        </div>
    </div>

    <div class="custom-card mt-4">
        <div class="d-flex align-items-center justify-content-between">
           <span class="accent f500 card-heading">
                Featured Podcasts
           </span> 
        </div>
        <div class="custom-row" *ngIf="tabsSection[0].isLoaded">
            <div *ngFor="let podcast of tabsSection[0].data; let i = index" class="custom-col-podcast mt-3">
                <app-podcast-card [podcastData]="podcast"></app-podcast-card>
            </div>
        </div>
        <div *ngIf="!tabsSection[0].isLoaded">
            <app-loader></app-loader>
        </div>
    </div>

    <div class="custom-card mt-4" *ngIf="authService.isAuthenticated()">
        <div class="d-flex align-items-center justify-content-between">
           <span class="accent f500 card-heading">
                Recommended Podcasts
           </span>
        </div>
        <div class="custom-row" *ngIf="tabsSection[1].isLoaded">
            <div *ngFor="let podcast of tabsSection[1].data; let i = index" class="custom-col-podcast mt-3">
                <app-podcast-card [podcastData]="podcast"></app-podcast-card>
            </div>
        </div>
        <div *ngIf="!tabsSection[1].isLoaded">
            <app-loader></app-loader>
        </div>
    </div>
</div>

<div class="mobile-container">
    <div class="w100 d-flex flex-column align-items-center justify-content-center">
        <img src="./assets/Aureal_full_light.png" class="">
    </div>
    <div class="tet-section mt-5">
        <h4 class="accent text-center mb-5">Aureal is a decentralised podcast platform built on hive blockchain that enables you to monetise your podcast and rewards you for your interactions.</h4>
        <p class="accenttwo text-center mb-3">Web platform is best viewed on Desktop. For a seamless experience on mobile devices download the app from </p>
        <div class="d-flex align-center justify-content-center apps">
            <div class="d-flex flex-column align-items-center">
                <span class="accenttwo icon icon-apple mb-2"></span>
                <div class="accenttwo" style="font-size: 12px;">(coming soon)</div>
            </div>
            <div class="ml-4 mr-4 mb-auto mt-auto">
                <span class="accenttwo">OR</span>
            </div>
            <div>
                <a href="https://play.google.com/store/apps/details?id=co.titandlt.auditory">
                    <span class="accenttwo icon icon-android"></span>
                </a>
            </div>
        </div>
    </div>
</div>

