<div class="podcast-card d-flex flex-column">
    <img class="img" [src]="episodeData.image">
    <button class="control prev" (click)="playEpisode(episodeData)">
        <div class="isode">
          <mat-icon mat-list-icon class="left" style="font-size: 30px; height: 30px; width: 30px;">play_arrow</mat-icon>
        </div>
    </button>
    <div class="content">
        <span class="podcast_name text-truncate accent mb-1 pointer" (click)="openPodcast(episodeData)">{{episodeData.name}}</span>
        <span class="author text-truncate accenttwo mb-1">{{episodeData.podcast_name}}</span>
        <div class="d-flex align-center">
            <div class="vote-icon" [ngClass]="{'voted' : episodeData.ifVoted}">
                <span class="icon icon-up-circled" *ngIf="!upvoteOngoing" (click)="upvote(episodeData)"></span>
                <i class="fas fa-spinner fa-spin" aria-hidden="true" *ngIf="upvoteOngoing"></i>
            </div>
            <div class="vote-count">
                <span>{{episodeData.votes}}</span>
            </div>
            <div class="vote-count">
                <span>{{episodeData.payout_value.replace("HBD", "$")}}</span>
            </div>
            <div class="comment-count" (click)="openEpisode(episodeData)">
                <span class="icon icon-comments-o"></span>
                <span>{{episodeData.comments_count}}</span>
            </div>
        </div>
    </div>
</div>