<!-- <div class="hive-auth">
    <div class="d-flex align-items-center logos">
        <img src="./../../../assets/launch_icon.png">
        <mat-icon>add</mat-icon>
        <img src="./../../../assets/hive-logo.png">
    </div>
    <div class="message" *ngIf="autoCheck">
        <h6>Your Aureal account is not connected to HIVE yet.</h6>
    </div>
    <div class="message" *ngIf="!autoCheck">
        <h6>Get onboard using your Hive account</h6>
        <p>OR</p>
        <h6 class="g-signin2" data-onsuccess="onSignIn">Use your Google account</h6>
    </div>
    <div class="d-flex flex-wrap align-center justify-content-between">
        <a (click)="connectHive(autoCheck)">
            <button mat-raised-button color="primary">CONNECT MY EXISTING HIVE ACCOUNT</button>
        </a>
        <a href="https://hiveonboard.com/create-account">
            <button mat-raised-button color="secondary">GET NEW HIVE ACCOUNT</button>
        </a>

        <a *ngIf="!autoCheck">
            <button mat-raised-button color="secondary" (click)="authService.googleSignin()">Google Account</button>
        </a>
    </div>
</div> -->

<div class="m-block">
    <div class="l-block">
        <img src="https://aurealbucket.s3.us-east-2.amazonaws.com/Mascot.png">
    </div>
    <div class="r-block">
        <h2 class="text-center font-weight-bold mt-5">Sign up/ Log in using</h2>
        <div class="mt-4 mb-5 d-flex flex-column">
            <button class="custom-primary-button">
                <span>Google Account</span>
            </button>
            <button class="custom-primary-button red">
                <span>Hivesigner</span>
            </button>
        </div>
        <span class="divider"></span>
        <p class="accent text-center mt-4 mb-4" style="font-size: 12px; font-weight: 300;">Aureal enables your content monetisation through web 3.0, We recommend you to create and connect your HIVE account with Aureal.</p>
        <button class="custom-secondary-button">
            <span>Create HIVE Account</span>
        </button>
    </div>

</div>