.podcast-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 20px;
  @media (max-width: 576px) {
    padding: 0px;
    margin-bottom: 20px;
  }
  .content {
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }

  img {
    max-height: 120px;
    border-radius: 8px;
    margin-right: 15px;
    @media (max-width: 576px) {
      max-height: 80px;
    }
  }
  .name {
    color: var(--accent);
    font-size: 16px !important;
    font-weight: 500;
    margin-bottom: 0px;
    @media (max-width: 576px) {
      font-size: 13px !important;
      line-height: 1.4em;
    }
  }
  .podcast-name {
    color: var(--accenttwo);
    font-size: 14px !important;
    font-weight: 500;
    margin-bottom: 0px;
    @media (max-width: 576px) {
      font-size: 12px !important;
    }
  }
  .author {
    color: var(--accenttwo);
    font-size: 14px !important;
    max-width: 200px;
    margin-bottom: 0px;
    @media (max-width: 576px) {
      font-size: 11px !important;
    }
  }
  .duration {
    display: flex;
    margin-right: 20px;
    color: var(--accenttwo);
    p {
      font-size: 14px !important;
      margin-bottom: 0px;
      @media (max-width: 576px) {
        font-size: 11px !important;
      }
    }
  }
  .views {
    display: flex;
    margin-right: 20px;
    color: var(--accenttwo);
    p {
      font-size: 14px !important;
      margin-left: 5px;
      margin-bottom: 0px;
      @media (max-width: 576px) {
        font-size: 11px !important;
      }
    }
  }
  .upvotes {
    display: flex;
    color: var(--accenttwo);
    p {
      font-size: 14px !important;
      margin-left: 5px;
      margin-bottom: 5px;
    }
  }
  .upvote-button {
    min-width: 100px;
    height: 40px;
  }
  .tags {
    display: flex;
    color: var(--accenttwo);
    p {
      font-size: 14px !important;
      margin-bottom: 0px;
      @media (max-width: 576px) {
        font-size: 10px !important;
      }
    }
  }
  .description {
    display: flex;
    color: var(--accenttwo);
    p {
      font-size: 14px !important;
      margin-bottom: 0px;
      @media (max-width: 576px) {
        font-size: 11px !important;
      }
    }
  }
}

.truncate-overflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.more-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .upvote-button {
    min-width: 100px;
    height: 40px;
  }

  .episode-data-card {
    padding: 20px;
    background: white;
    border-radius: 8px;
    @media (max-width: 576px) {
      padding: 10px;
    }
    img {
      max-width: 50%;
      border-radius: 8px;
      margin-bottom: 20px;
    }
    .other {
      max-width: 50%;
      margin-left: 10px;
      .views {
        display: flex;
        color: var(--accenttwo);
      }
      .upvotes {
        display: flex;
        color: var(--accenttwo);
      }
    }
    .description {
      display: flex;
      color: var(--accenttwo);
      p {
        font-size: 16px !important;
        margin-bottom: 5px;
        @media (max-width: 576px) {
          font-size: 11px !important;
        }
      }
    }
  }

  .the-text {
    font-size: 14px !important;
    color: var(--accenttwo);
  }

  .upcoming-cards {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background: white;
    border: 1px solid var(--light);
    border-radius: 8px;

    .upcoming-card {
      padding: 20px;
      display: flex;
      align-items: start;
      justify-content: space-between;
      border-bottom: 1px solid var(--light);
      &:hover {
        background: #f9f9f9;
        cursor: pointer;
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 8px;
      }
      .name {
        font-size: 13px !important;
        font-weight: 500;
        width: 250px;
        margin-bottom: 5px;
      }
      .author {
        font-size: 13px !important;
        color: var(--accenttwo);
        width: 250px;
      }
    }
  }
}

.similar-podcasts {
  @media (max-width: 576px) {
    display: none;
  }
}

.comments-container {
  margin: 30px 0;
  h3 {
    font-size: 14px;
    color: var(--accenttwo);
    font-weight: bold;
    text-transform: capitalize;
  }
}

.search-control {
  flex: 1;
  font-size: 1rem;
  border: 0;
  outline: none;
  padding-left: 10px;
}
.mat-toolbar-multiple-rows {
  min-height: 40px !important;
}
