<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" class="sidenav-styles" *ngIf="!isEmbedPlayer">
        <div class="logo">
            <a (click)="navigateHome()">
                <img src="./assets/aureal_logo.png">
            </a>
            <i class="fas fa-times" aria-hidden="true" (click)="closeAllSidenav()"></i>
        </div>
        <div class="each-tab">
            <a (click)="navigateHome()">
                Home
            </a>
            <a href="https://medium.com/aureal">
                Blog
            </a>
        </div>
        <div class="each-tab">

        </div>
    </mat-sidenav>
    <mat-sidenav-content *ngIf="usuarioMenu" [ngClass]="{'is-player-open' : playingEpisode && !isEmbedPlayer}">
        <app-header [sidenav]="usuarioMenu" *ngIf="!isEmbedPlayer"></app-header>
        <router-outlet></router-outlet>
        <app-player class="the-player" *ngIf="playingEpisode && !isEmbedPlayer" [toPlayData]="playingEpisode">
        </app-player>
        <app-footer *ngIf="!isEmbedPlayer"></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-drawer-container>
    <mat-drawer [mode]="appMode" [opened]="isSidebarOpened" class="sidebar-container">
      <div class="logo">
        <a>
          <img src="./assets/aureal_logo.png" />
        </a>
      </div>
      <div class="tabs">
        <div
          class="each-tab"
          *ngFor="let item of routes"
          [class.active]="isActive(item.route)"
          (click)="navigateTo(item.route)"
        >
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.name }}</span>
        </div>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
  