<mat-drawer-container>
    <mat-drawer autosize [mode]="appMode" [opened]="isSidebarOpened" class="sidebar-container" [ngClass]="{'expanded' : isSidebarExpanded}"
     #sidenav>
      <div class="logo" [@fadeAnimation]="isSidebarExpanded">
        <a>
          <img src="./assets/aureal_full_dark.png" [ngClass]="{'expanded' : isSidebarExpanded}" style="padding: 0 40px;"/>
          <img src="./assets/launch_icon.png" [ngClass]="{'expanded' : !isSidebarExpanded}" style="padding: 0 15px;"/>
        </a>
      </div>
      <div class="tabs">
        <div
          class="each-tab"
          *ngFor="let item of routes"
          [class.active]="isActive(item.route)"
          (click)="navigateTo(item.route)"
        >
          <span [class]="item.icon">
          </span>
          <span class="name">{{ item.name }}</span>
        </div>
      </div>
    </mat-drawer>
    <mat-drawer-content #content [ngClass]="{'expanded' : isSidebarExpanded}">
      <app-header style="position: fixed; width: calc(100% - 100px); z-index: 2;"></app-header>
      <router-outlet style="margin-top: 70px; display: block; z-index: 1;"></router-outlet>
      <app-player class="the-player" *ngIf="playingEpisode && !isEmbedPlayer" [ngClass]="{'dark' : dark}" [toPlayData]="playingEpisode">
      </app-player>
    </mat-drawer-content>
</mat-drawer-container>
  