.podcast-card {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px;
  border-bottom: 1px solid var(--light);
  background: white;
  @media (max-width: 576px) {
    padding: 10px;
  }
  &:hover {
    background: #f9f9f9;
    cursor: pointer;
    .upvotes {
      background: white;
    }
  }
  .content {
    margin-left: 15px;
    width: 100%;
  }
  img {
    max-height: 100px;
    border-radius: 8px;
    @media (max-width: 576px) {
      max-height: 70px;
    }
  }
  .itemsContainer {
    background: transparent;
    float: left;
    position: relative;
  }
  .itemsContainer:hover .play {
    display: block;
  }
  .play {
    position: absolute;
    display: none;
    top: 0;
    width: 100%;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    z-index: 100;
    img {
      opacity: 0.4;
    }
  }
  .name {
    color: var(--accent);
    font-size: 16px !important;
    font-weight: 500;
    margin-bottom: 0px;
    @media (max-width: 576px) {
      font-size: 13px !important;
    }
  }
  .podcast-name {
    color: var(--accenttwo);
    font-size: 14px !important;
    font-weight: 500;
    margin-bottom: 0px;
    @media (max-width: 576px) {
      font-size: 12px !important;
    }
  }
  .author {
    color: var(--accenttwo);
    font-size: 13px !important;
    max-width: 200px;
    margin-bottom: 0px;
    @media (max-width: 576px) {
      font-size: 11px !important;
    }
  }
  .duration {
    display: flex;
    margin-right: 20px;
    color: var(--accenttwo);
    p {
      font-size: 13px !important;
      margin-bottom: 0px;
      @media (max-width: 576px) {
        font-size: 11px !important;
      }
    }
  }
  .views {
    display: flex;
    margin-right: 20px;
    color: var(--accenttwo);
    p {
      font-size: 13px !important;
      margin-left: 5px;
      margin-bottom: 0px;
      @media (max-width: 576px) {
        font-size: 11px !important;
      }
    }
  }
  .upvotes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--accenttwo);
    padding: 5px;
    border: 1px solid var(--secondary);
    border-radius: 4px;
    min-width: 80px;
    min-height: 80px;
    @media (max-width: 576px) {
      min-width: 55px;
      min-height: 55px;
    }
    &.is-voted {
      border: 1px solid var(--primary);
    }
    p {
      font-weight: bold;
      font-size: 12px !important;
      margin-left: 5px;
      margin-bottom: 0px;
      @media (max-width: 576px) {
        font-size: 10px !important;
      }
    }

    img {
      width: 16px;
      height: 16px;
    }
  }
  .tags {
    display: flex;
    color: var(--accenttwo);
    p {
      font-size: 14px !important;
      margin-bottom: 0px;
    }
  }
  .description {
    display: flex;
    color: var(--accenttwo);
    p {
      font-size: 14px !important;
      margin-bottom: 5px;
    }
  }
}

.truncate-overflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
