.login-part {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  .the-text {
    margin-bottom: 30px;
  }
}

.signup-part {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  .the-text {
    margin-bottom: 30px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.form-element {
  padding: 5px 0px 0px 2px;
  width: 100%;
  .button {
    width: 100%;
    margin-top: 15px;
  }
}

.no-account {
  margin-top: 20px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
