<div class="podcast-card d-flex">
    <img class="img" [src]="podcastData.image" (click)="openPodcast(podcastData)">
    <div class="content">
        <span class="podcast_name text-truncate accent mb-1 pointer" (click)="openPodcast(podcastData)">{{podcastData.name}}</span>
        <span class="author text-truncate accenttwo mb-1">{{podcastData.author}}</span>
        <div class="d-flex align-center">
            <div class="vote-count" (click)="followPodcast()">
                <span *ngIf="podcastData.ifFollows">Followed</span>
                <span *ngIf="!podcastData.ifFollows">Follow</span>
            </div>
        </div>
    </div>
</div>