.each-category {
  border: 1px solid var(--light);
  border-radius: 8px;
  max-width: 720px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.upcoming-section {
  margin-left: 30px;
  .upcoming-cards {
    min-width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background: white;
    border: 1px solid var(--light);
    border-radius: 8px;
    .upcoming-card {
      padding: 20px;
      display: flex;
      align-items: start;
      justify-content: space-between;
      border-bottom: 1px solid var(--light);
      &:hover {
        background: #f9f9f9;
        cursor: pointer;
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 8px;
      }
      .name {
        font-size: 13px !important;
        font-weight: 500;
        width: 250px;
        margin-bottom: 5px;
      }
      .author {
        font-size: 13px !important;
        color: var(--accenttwo);
        width: 250px;
      }
    }
  }
}
