<div class="container">
    <div class="podcast-card">
        <div class="content">
            <div class="d-flex justify-content-start">
                <img [src]="episodeData.podcast_image">
                <div>
                    <h2 class="name truncate-overflow">{{episodeData.name}}</h2>
                    <h6 class="podcast-name">in {{episodeData.podcast_name}}</h6>
                    <p class="author text-truncate">by {{episodeData.author}}</p>
                    <div class="d-none d-sm-block">
                        <div class="d-flex flex-wrap align-items-center justify-content-start">
                            <button mat-raised-button color="primary" (click)="playEpisode(episodeData);">Play
                            </button>
                            <button mat-raised-button color="primary" *ngIf="!episodeData.ifVoted"
                                (click)="upvote(episodeData)" style="margin-left: 15px;">Upvote
                                <i class="fas fa-spinner fa-spin" aria-hidden="true" *ngIf="upvoteOngoing"></i>
                            </button>
                            <button mat-raised-button color="secondary" *ngIf="episodeData.ifVoted" style="margin-left: 15px;">Upvoted</button>
                            <div style="margin-left: 30px;">
                                <div style="display: flex; justify-content: center;">
                                    <div class="d-flex">
                                        <div class="d-flex views">
                                            <i class="fas fa-spinner fa-spin" aria-hidden="true" *ngIf="upvoteOngoing"></i>
                                            <i class="fa fa-chevron-circle-up" aria-hidden="true" *ngIf="!upvoteOngoing"></i>
                                            <p>{{episodeData.votes}} </p>
                                            <span style="margin: 0 5px;">|</span>
                                            <p>{{episodeData.payout_value.replace("HBD", "$")}}</p>
                                        </div>
                                        <div class="views">
                                            <i class="fas fa-headphones" aria-hidden="true"></i>
                                            <p>{{episodeData.views}} Listens</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="more-content">
            <div class="row w100">
                <div class="col-sm-12 col-md-8">
                    <div class="episode-data-card">
                        <div class="d-flex">
                            <div class="d-block d-sm-none">
                                <div class="d-flex flex-wrap align-items-center justify-content-start">
                                    <button mat-raised-button color="primary" (click)="playEpisode(episodeData);">Play
                                    </button>
                                    <button mat-raised-button color="primary" *ngIf="!episodeData.ifVoted"
                                        (click)="upvote(episodeData)" style="margin-left: 15px;">Upvote
                                        <i class="fas fa-spinner fa-spin" aria-hidden="true" *ngIf="upvoteOngoing"></i>
                                    </button>
                                    <button mat-raised-button color="secondary" *ngIf="episodeData.ifVoted" style="margin-left: 15px;">Upvoted</button>
                                    <div style="margin-left: 10px;">
                                        <div style="display: flex; justify-content: center;">
                                            <div class="d-flex">
                                                <div class="d-flex views">
                                                    <i class="fas fa-spinner fa-spin" aria-hidden="true" *ngIf="upvoteOngoing"></i>
                                                    <i class="fa fa-chevron-circle-up" aria-hidden="true" *ngIf="!upvoteOngoing"></i>
                                                    <p>{{episodeData.votes}} </p>
                                                    <span style="margin: 0 5px;">|</span>
                                                    <p>{{episodeData.payout_value.replace("HBD", "$")}}</p>
                                                </div>
                                                <div class="views">
                                                    <i class="fas fa-headphones" aria-hidden="true"></i>
                                                    <p>{{episodeData.views}} Listens</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="description" style="margin-top:20px;">
                            <p [innerHTML]="episodeData.summary"></p>
                        </div>
                    </div>
                    <div class="comments-container">
                        <h3>DISCUSSION</h3>
                        <app-comment *ngFor="let c of comments" (refresh)="getComments()" [comment]="c"></app-comment>
                        <app-comment-box (add)="addComment($event)" [isLoading]="isAddingComment"></app-comment-box>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="similar-podcasts">
                        <div>
                            <h6 class="the-text">SIMILAR PODCASTS</h6>
                            <div class="upcoming-cards" *ngIf="categoryBasedPodcastsLoading">
                                <div *ngFor="let loaderNum of [0,1,2,3,4,5,6,7,8,9]">
                                    <div class="timeline-wrapper">
                                        <div class="timeline-item">
                                            <div class="animated-background">
                                                <div class="vertical-bottom"></div>
                                                <div class="horizontal-bottom"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="upcoming-cards" *ngIf="!categoryBasedPodcastsLoading">
                                <div *ngFor="let each of categoryBasedPodcasts;" class="upcoming-card"
                                    (click)="redirectToPodcast(each)">
                                    <!-- <div class="image"></div> -->
                                    <div>
                                        <h6 class="name">{{each.name}}</h6>
                                        <p class="author text-truncate">{{each.author}}</p>
                                    </div>
                                    <img [src]="each.image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
