<!-- <div class="d-flex align-items-center justify-content-between pl-5 pr-5 pt-3">
    <h2>Listen on Aureal</h2>
    <p>See all</p>
</div> -->
<div class="container">
	<div class="sliders card">
		<ng-container *ngFor="let podcast of featuredPodcasts; let i = index">
			<div class="slider" *ngIf="current == i" @fade>
                <img class="img" [src]="podcast.image">
                <div class="banner-content">
                    <h6>PODCAST</h6>
                    <h2>{{podcast.name}}</h2>
                    <h3>{{podcast.author}}</h3>
                </div>
			</div>
		</ng-container>
    </div>
    <h1 class="mt-5 font-weight-bold">Explore</h1>
    <div class="tabs">
        <div class="each-tab" *ngFor="let item of tabsSection; let i = index" [class.active]="i == currentTab" (click)="currentTab = i">
            {{item.name}}
        </div>
    </div>
    <div class="tab-content">
        <div *ngIf="currentTab == 0" class="cards-list">
            <app-episode-card *ngFor="let episode of tabsSection[0].data;" [episodeData]="episode"></app-episode-card>
        </div>
    </div>
</div>

